.parent {
    /* display: none; */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    /* max-width: 30%;
    max-height: 70%; */
    border: 1px solid;
    padding: 10px;
    /* box-shadow: 5px 10px 8px 10px #888888; */
  }

  
  .login-div {
    max-width: 50%;
    margin: auto;
  }
  
  .form-group {
    position: relative;
    display: block;
    margin : 0 auto;
    width: 70%;
    /* Change to % for responsiveness */
    height: 100px;
  }

  .btn btn-primary {
    margin-bottom: 20px;
  }

  .sub-text {
    margin: 90px 0 10px;
  }

  