.parent {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    max-width: 40%;
    max-height: 70%;
  }

  
  .login-div {
    max-width: 50%;
    margin: auto;
  }
  
  .form-group {
    position: relative;
    display: block;
    margin : 0 auto;
    width: 270px;
    height: 100px;
  }

  .btn btn-primary {
    margin-bottom: 20px;
  }

  .sub-text {
    margin: 90px 0 10px;
  }

  